body{
    margin: 0px auto;
    max-width: 1500px;
}
header{
    background-color: rgb(100, 100, 100);;
}

header img{
    width: 100%;
}

main{
    background-color: rgb(100, 100, 100);
    text-align: center;
}

main img{
    display: inline-block;
    max-width: 15%;
    margin: 5%;
    border-radius: 50%;
    border: 10px solid rgb(61, 61, 61);
}