body{
    margin: 0px auto;
    background-color: whitesmoke;
}
nav{
    background-color: rgb(0, 43, 78);
    padding: 15px;
    margin: 0px;
    text-align: center;
    margin-bottom: 50px; ;

}

nav a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

nav:hover{
    background-color: rgb(13, 90, 134);
}

#header{
    width: 100%;

}

main{
    margin: 0 auto;
    max-width: 1500px;
    background-color: rgb(100, 100, 100);
    text-align: center;
}

.icons{
    display: inline-block;
    max-width: 15%;
    margin: 5%;
    border-radius: 50%;
    border: 10px solid rgb(61, 61, 61);
}