@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Source+Sans+Pro&display=swap');

*, *:before, *:after{
    box-sizing: border-box; /*take consideration for whole box model*/
}

html,body{
    background-color: #edecb413;
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    overflow-x: hidden;
}
h1,h2,h3,h3,h5{
    font-family: 'Inconsolata', monospace;
}

header{
    z-index: 1;
    height: auto;
    background-color: #D6B172;
    display: block;
    text-align: center;
    justify-content: center;
}

nav{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.currentPage{
    border-radius: 5px;
    background-color: #5f7962;
    color: white;
}


nav a{
    font-size: 18px ;
    font-weight: 500px;
    text-decoration: none;
    padding: 16px 16px;
    font-family: 'Inconsolata', 'monospace';
    color:black;
    margin: 10px 0 10px 0;
}

nav a:hover{
    border-radius: 5px;
    background-color: #ABD9B1;
    color: black;
}

.logo{
    margin-top: 10px;
    max-height: 60px;
    width: auto;
}

.logo:hover{
    opacity: 80%;
}

.heroImage{
    margin: 0 auto;
    max-width: 400px;
    height: 200px;
    background-image: url(../media/contact/cookie-the-pom-siNDDi9RpVY-unsplash.webp);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    text-align: center;
}

.content h1{
    max-width: 600px;
    flex: 1;
}

.fillContent{
    width: 100%;
    align-items: center;
}

article{
    justify-content: center;
    max-width: 600px;
    text-align: justify;
    margin: 5%;
    margin-top: 0px;
}

article h1{
    text-align: center;
}

li{
    padding: 5px;
    padding-top: 0px;
    text-align: justify;
}

form{
    display:flex;
    flex-wrap: wrap ;
    column-gap: 8%;
    padding: 5px;
    justify-content:justify;
}

input{
   width: 45%;
   border: none; 
   border-radius: 5px;
   padding: 5px;
}

input:focus, textarea:focus{
    border-color: rgb(245, 240, 240);
}

textarea{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
}

button{
    color: rgb(99, 99, 99);
    border: none;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 5px;
}

#feedback{
    background-color: #5f7962;
    border-radius: 2.5px;
    padding: .5em;
    color: white;
    box-shadow: 1px 1px 3px black;
    max-width: 400px;
}

footer{
    color: black;
    display: flex;
    flex-direction: row;
    background-color: #D6B172;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin-top: 5%;
}

footer .contactInfo{
    margin: 0px;
    padding: 10px;
}

footer h4,h5{
    font-weight: 100;
}

@media screen and (min-width: 600px){

    header{
        display: flex;
        justify-content: left;
    }

    nav{
        width: auto;
        margin-left: 20px;
    }

    nav a{
        margin: 0px 20px;
    }

    .logo{
        margin: 5px 20px;
    }
    .hero{
        margin: 20px;
        width:100%;
    }
    .heroImage{
        border-radius: 2.5px;

    }

    main{
        align-items: top;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
    }
}