@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Source+Sans+Pro&display=swap');

:root {
	--backgroundColor: #fffffe;
	--headFootColor: #133633;
	--headingFont: 'Inconsolata', monospace;
	--paragraph-font: 'Source Sans Pro', sans-serif;
	--navLinkColor: #fffffe;
	--buttonHover: #ABD9B1;
	--textOnDark: #fff;
    --textOnLight: #000
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-size: 62.5%;
}

body {
    height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
    font-size: 1.3rem;
    text-align: center;
	background-color: var(--backgroundColor);
	font-family: var(--paragraph-font);
	overflow-x: hidden;
}

body h1,
body h2,
body h3,
body h4,
body h5 {
	font-family: var(--headingFont);
}

body header {
	height: auto;
	background-color: var(--headFootColor);
	display: block;
	text-align: center;
}

body header .logo {
	margin-top: 20px;
	max-height: 50px;
	width: auto;
    border-radius: 5px;
}

body header .logo:hover {
    transform: scale(1.05, 1.05);
    transition: 2s;
}

body header nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

body header nav a {
	font-family: var(--headingFont);
	font-size: 1.8rem;
	font-weight: lighter;
	color: var(--navLinkColor);
	text-decoration: none;
	padding: 10px;
	margin: 10px;
}

body header nav a.currentPage {
    border-radius: 5px;
    background-color: var(--buttonHover);
    color: var(--textOnLight);
}

body header nav a:hover {
    transition: .5s;
	border-radius: 5px;
	background-color: var(--buttonHover);
    color: var(--textOnLight);
}



body main {
    flex: 1;
}

body main h1 {
    margin: 20px;
}

body main #aboutMe {
	display: grid;
    column-gap: 40px;
	margin: 0 auto;
	text-align: center;
	justify-items: center;
    justify-content: space-evenly;
	align-items: center;
    max-width: 1250px;

}

body main #aboutMe #profileImage {
	border-radius: 50%;
	height: 175px;
	width: 175px;
	background-image: url(../media/home/FOTOTY.webp);
	background-size: cover;
	background-position: 100%;
	background-repeat: no-repeat;
    margin: 0px 40px 0px 40px;
}

body main #aboutMe article {
    background-image: url(../media/home/parker-gibbons-kfwPJieZVwI-unsplash.webp);
    height: auto;
	background-size: cover;
	background-position: 100%;
	background-repeat: no-repeat;
	justify-content: center;
	max-width: 600px;
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: none;
	text-align: justify;
	box-shadow: 1px 1px 3px #4b320746;
}

body main #aboutMe article .pBackground {
	margin: 20px;
	background-color: #233626;
	opacity: .95;
	grid-column: 1;
	grid-row: 0.5;
	border-radius: 2.5px;
}

body main #aboutMe article p {
    font-size: 1.5rem;
    font-weight: lighter;
	color: var(--textOnDark);
	padding: 5%;
}

body main .clientSlides .clientPortfolio {
	margin: 20px;
	display: flex;
    flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

body main .clientSlides .clientLogo {
	display: flex;
	height: 75px;
	justify-content: center;
	align-items: center;
}

body main .clientSlides div .client {
	height: auto;
	border-radius: 5px;
	padding: 5%;
	max-width: 500px;
	box-shadow: 1px 1px 3px black;
}

body main .clientSlides div img {
	width: 200px;
}

body main .clientSlides div p {
	text-align: justify;
    font-size: 1.5rem;
    font-weight: lighter;
}

body main .clientSlides div p a {
	text-decoration: underline;
	color: inherit;
}

body main .clientSlides #sherwood{
	background-color: #0F3E24;
	color: var(--textOnDark)
}

body main .clientSlides #hunsaker {
	background-color: #311F00;
	color: var(--textOnDark);
}

body footer {
    color: var(--textOnDark);
	display: flex;
	background-color: var(--headFootColor);
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
	padding: 15px;
}

body footer .contactInfo {
	margin: 0px;
	padding: 10px;
    font-size: 1.4rem;
    font-weight: lighter;
}

body footer a {
	text-decoration: underline;
	color: var(--navLinkColor);
}

@media screen and (min-width: 600px){

    body header{
        min-height: 75px;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    body header .logo{
        margin: 5px 20px;
    }

    body header nav{
        width: auto;
        margin-left: 20px;
    }

    body header nav a{
        margin: 0px 20px;
    }

    body main{
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
    }

    body main #aboutMe {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
    
    body main #aboutMe article {
        border-radius: 5px;
        grid-column: 2/3 ;
        grid-row: 1/4;
        margin-right: 20px;
    }

    body main .clientSlides .clientPortfolio {
        display: grid;
        grid-template-columns: auto auto;
    }

    body main .clientSlides div .client:first-of-type {
        margin-top: 0px;
    }
}

@media (prefers-color-scheme: dark){
	body{
		background-color: rgb(29, 29, 29);
		color: white;
	}
	body header nav a:hover{
		color:black;
	}
}