
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Source+Sans+Pro&display=swap');

:root {
	--backgroundColor: #fffffe;
	--headFootColor: #133633;
	--headingFont: 'Inconsolata', monospace;
	--paragraph-font: 'Source Sans Pro', sans-serif;
	--navLinkColor: #fffffe;
	--buttonHover: #ABD9B1;
	--textOnDark: #fff;
    --textOnLight: #000
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-size: 62.5%;
}

body {
    height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
    font-size: 1.5rem;
    text-align: center;
	background-color: var(--backgroundColor);
	font-family: var(--paragraph-font);
	overflow-x: hidden;
}

body h1,
body h2,
body h3,
body h4,
body h5 {
	font-family: var(--headingFont);
}

body header {
	height: auto;
	background-color: var(--headFootColor);
	display: block;
	text-align: center;
}

body header .logo {
    margin-top: 20px;
	max-height: 50px;
	width: auto;
    border-radius: 5px;
}

body header .logo:hover {
    transform: scale(1.05, 1.05);
    transition: 2s;
}

body header nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

body header nav a {
	font-family: var(--headingFont);
	font-size: 1.8rem;
	font-weight: lighter;
	color: var(--navLinkColor);
	text-decoration: none;
	padding: 10px;
	margin: 10px;
}

body header nav a.currentPage {
    border-radius: 5px;
    background-color: var(--buttonHover);
    color: var(--textOnLight);
}

body header nav a:hover {
    transition: .5s;
	border-radius: 5px;
	background-color: var(--buttonHover);
    color: var(--textOnLight);
}

body main {
    flex: 1;
}

body main h1 {
    margin: 20px;
}


body main section.content{
    display: flex;
    flex-flow: wrap;
    gap:20px;
    justify-content: center;

} 

body main section article {
    height:auto;
    flex: 1;
	justify-content: center;
    width: 100%;
    margin: 20px;
    min-width: 450px;
    max-width: 650px;
	text-align: center;
    padding: 20px;
    border-radius: 2.5px;
    border: 1px solid #0000002f;
    box-shadow: .5px .5px 1px #0000005b;
}

body main article hr {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 80%;
}

body main article div.articleImage{
    height: 250px;
    margin: 10px;
    background-size: cover;
    background-position: 30%;
	background-repeat: no-repeat;
}

body main article#experience div.articleImage{
    background-image: url(../media/skills/marvin-meyer-SYTO3xs06fU-unsplash.webp);
}

body main article#skills .articleImage{
    background-image: url(../media/skills/robynne-hu-HOrhCnQsxnQ-unsplash.webp);
}

body main article div.pBackground {
	margin-bottom: 30px;
}

body main article p {
	text-align: justify;
	color: var(--textOnLight);
}

body main article .button-box {
	margin: 40px 0px;
	padding: 0px;
}

body main article .button-box a {
	letter-spacing: 1px;
	text-decoration: none;
	color: var(--textOnDark);
	padding: 10px 20px;
	background-color: var(--headFootColor);
	border-radius: 2.5px;
}

body main article .button-box a:hover {
	border-radius: 5px;
	background-color: var(--buttonHover);
	color: var(--textOnLight);
}

body main article li {
	padding: 5px;
	text-align: justify;
}

body footer {
    color: var(--textOnDark);
	display: flex;
	background-color: var(--headFootColor);
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
    padding: 15px;
}

body footer .contactInfo {
	margin: 0px;
	padding: 10px;
    font-size: 1.4rem;
    font-weight: lighter;
}

body footer a {
	text-decoration: underline;
	color: var(--navLinkColor);
}

@media screen and (min-width: 600px){

    body header{
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    body header .logo{
        margin: 5px 20px;
    }

    body header nav{
        width: auto;
        margin-left: 20px;
    }

    body header nav a{
        margin: 0px 20px;
    }

    body main{
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}