@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Rochester&display=swap');

nav{
    background-color: rgb(0, 43, 78);
    padding: 15px;
    margin: 0px;
    text-align: center;
    margin-bottom: 10px ;
}

nav a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

nav:hover{
    background-color: rgb(13, 90, 134);
}

body{
    background-color:rgba(255, 228, 196, .45);
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
}

article{
    width: 80%;
    max-width:800px;
    min-width: 290px;
    margin: 10px auto;
    padding: 2.5%;
    text-align: center;
    background-color:silver;
    color: black;
    border-radius: 5px;
    
}

article img{
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

h1{
    text-align: center;
    font-size: 32px;
}

h1:hover{

    color: rgb(0, 76, 82);
}
article ol{
    display: block;
    max-width: 400px;
    margin: 25px auto;
    text-align: left;
    font-weight: bold;
    color: rgb(0, 76, 82);
    font-size: 22px;


}

article blockquote{
    font-family: 'Rochester', cursive;
    font-size: 24px;
    
}

article figcaption cite{
    display: block;
    font-style: normal;
}
.end{
    color: rgb(0, 76, 82);
}

.endquote{
    font-size: 28px;
}

figcaption{
    font-size: 20px;
}