body{
    background-color:rgba(255, 228, 196, .45);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
article{
    max-width: 600px;
    margin: 5% auto;
    padding: 5%;
    text-align: center;
    background-color:silver;
    color: black;
}
article img{
    max-width: 300px;
    height: auto;
}
h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
h1:hover{

    color: rgba(13, 44, 56, 0.719);
}
article ol{
    display: block;
    max-width: 600px;
    margin: 25px auto;
    text-align: left;
    font-weight: bold;
}
article figcaption cite{
    display: block;
}
.endquote{
    font-size: 20px;
}